{% extends 'base.html.twig' %}


{#{% block title %}#}
    {#{{ title }}#}
{#{% endblock %}#}


{% block body %}

    <div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <div class="navbar-header">{{ title }} </div>
        </div>
    </div>


    <div class="container">Dumping: {{ dump() }}</div>

    <div class="container">
        <div class="row">
            <h1>{{ title }}</h1>
        </div>
        {#<div class="row">#}
        {#<ul>#}
        {#{% for car in cars %}#}
        {#<li>{{ car.year}} {{ car.make }} {{car.model}}: {{ car.mpg }} mpg</li>#}
        {#{% endfor %}#}
        {#</ul>#}
        {#</div>#}
        <ul>
            <li>{{ car.year}} {{ car.make }} {{car.model}}: {{ car.mpg }} mpg</li>
        </ul>
    </div>


{% endblock %}

